@{
    ViewBag.Title = "Home Page";
}
<center>

<center />
        <p class="lead">
            
            <div id="carousel-example-generic2" class="carousel slide">
                <!-- Wskaźniki w postaci kropek -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
                </ol>

                <!-- Slajdy -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/img/slider2.jpg" alt="">
                        <!-- Opis slajdu -->
                        <div class="carousel-caption">
                            <h3>Portal dla hodowców.</h3>
                            <p></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/img/slider3.jpg" alt="">
                        <!-- Opis slajdu -->
                        <div class="carousel-caption">
                            <h3>Strona oferuje przegląd zawartości pasz różnych producentów z możliwością porówniania ich między sobą.</h3>
                            <p></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/img/slider4.jpg" alt="">
                        <!-- Opis slajdu -->
                        <div class="carousel-caption">
                            <h3>Również portal oferuje strefę "Porady" w której można zadawać jak i odpowiadać na pytania dotyczące pasz jak i swoich zwierząt.</h3>
                            <p></p>
                        </div>
                    </div>

                </div>

                <!-- Strzałki do przewijania -->
                <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
          <br/>
       </p>


    <div class="row">
        <div class="col-md-4">
            <h2>Bydło</h2>
            <p>
                <img src="~/img/bydlo.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "Bydlo")</a></p>
        </div>
        <div class="col-md-4">
            <h2>Trzoda</h2>
            <p>
                <img src="~/img/trzoda.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "Trzoda")</a></p>
        </div>
        <div class="col-md-4">
            <h2>Drób</h2>
            <p>
                <img src="~/img/drob.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "DrobTyp")</a></p>
        </div>
    </div>
</center>
