@{
    ViewBag.Title = "Informacje o okresie podawania pasz w stadium rozwoju zwierzęcia";
}

</br>
<center><h2>@ViewBag.Title.</h2></center>
</br>

<br />
<div class="row">
    <!-- Przycisk uruchamiający modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
        Bydło
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                    <h4 class="modal-title" id="myModalLabel">Bydło</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <center><h2>Cielę</h2></center>

                        <h3>1tyg-3tyg</h3>
                        Zaleca się tylko stosować mleko matki.
                        <h3>3tyg-4msc</h3>
                        Wprowadzane siano, czyli wysuszona trawa, pije także mleko, ale w mniejszych ilościach i nie musi być już ono od matki.
                        Zostaje także wprowadzona śruta, czyli zmielone w całości ziarna pszenicy oraz innych zbóż, pasze dla cieląt.

                        <center><h2>Młodzież hodowlana/Opasy</h2></center>
                        <h3>4msc-2lata </h3>
                        Zostaje wprowadzona czysta woda, świeża trawa w miarę możliwości gospodarza, sianokiszonki, kiszonki, czyli trawę zahermetyzowaną szczelnie i poddaną działaniu słońca.
                        Zostają także dodane urozmaicone "dodatki do pasz" typu soja itp. produkty.

                        <center><h2>Krowy mleczne</h2></center>
                        <h3>2lata-...</h3>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
        Trzoda
    </button>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                    <h4 class="modal-title" id="myModalLabel">Trzoda</h4>
                </div>
                <div class="modal-body">
                    <p>
                       
                        <h2>Prosięta</h2>
                        W pierwszych 21-28 dniach życia głównym pokarmem prosiąt jest mleko lochy.
                        Ważne jest, aby jak najwcześniej (już od 3 dnia życia) prosięta przyzwyczajały się do paszy stałej.
                        Od 3 dnia do 15-20kg (pasza zawierająca mleko w proszku).

                        <h2>Warchlaki</h2>
                        Od 20 do 30 (kg)

                        <h2>Loszki/wieprze</h2>
                        od 30 do 70 (kg)

                        <h2>Tuczniki</h2>
                        od 70 do 120 (kg)

                        <h2>Lochy</h2>
                        Tucznik (płci żeńskiej) po porodzie

                        <h2>Lochy Prośne</h2>
                        Czas trwania porodu: 3msc 3tyg 3dni
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">
        Drób
    </button>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                <h4 class="modal-title" id="myModalLabel">Trzoda</h4>
            </div>
            <div class="modal-body">
                <p>
                    <p>
                        <center><h1>Drób</h1></center>
                    </p>
                    <h2>Kura</h2>
                    Piskle - do 1msc </br>
                    Kurczak - od 1msc do 4msc</br>
                    Nioska - po 4msc (pierwsze jajka)

                    <h2>Kaczka</h2>
                    Piskle - do 2tyg</br>
                    Kaczka - od 2tyg

                    <h2>Gęś</h2>
                    Piskle - do 2tyg</br>
                    Gęś - od 2 tyg

                    <h2>Indyk</h2>
                    Piskę - do 4tyg</br>
                    Indyk - od 4tyg
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
    </div>
