@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron">
        <h1>Portal dla hodowców</h1><center /><br />
        <p class="lead">
            Portal oferuje strefę "Porady" w której można zadawać jak i odpowiadać na pytania dotyczące pasz jak i swoich zwierząt.<br />
            Również strona oferuje przegląd zawartości paszy z możliwością porówniania jej z innymi paszami.<br />
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Bydło</h2>
            <p>
                <img src="~/img/bydlo.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "Bydloes")</a></p>
        </div>
        <div class="col-md-4">
            <h2>Trzoda</h2>
            <p>
                <img src="~/img/trzoda.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "Trzodas")</a></p>
        </div>
        <div class="col-md-4">
            <h2>Drób</h2>
            <p>
                <img src="~/img/drob.png" class="img-responsive" alt="Responsive image" />
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Sprawdź paszę", "Index", "Ges")</a></p>
        </div>
    </div>
</center>


<!--test branch-->